@font-face {
    /* 重命名字体名  英文字体 */
    font-family: "Mooli";
    /* 引入字体 */
    src: url("../assets/ttf/Mooli-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* 为英文文本添加特定样式 */
/* body:lang(en) {
    font-family: "Mooli";
  } */
.signinBox {
    width: 100%;
    height: 100%;
    background: #ffffff;
    .card {
        width: 1000px;
        height: 500px;
        background: url("../assets/background.jpg");
        background-size: 100%;
        overflow: hidden;
        border-radius: 10px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        .left,
        .right {
            width: 500px;
            height: 100%;
            background: #ffffff;
            float: left;
            // border: 1px solid #000;
            box-sizing: border-box;
            .logo {
                width: 400px;
                height: 400px;
                background: url("/logo.png");
                background-size: 100%;
                overflow: hidden;
                margin: 50px auto;
            }

            .title {
                font-size: 100px;
                font-family: "Mooli";
                font-weight: bold;
                /* 在不同浏览器上使用不同前缀，确保兼容性 */
                /* -webkit- 是为了兼容旧版WebKit浏览器（如Safari） */
                /* -moz- 是为了兼容Firefox浏览器 */
                /* -o- 是为了兼容Opera浏览器 */
                /* 不使用前缀是为了兼容大多数现代浏览器 */

                /* 创建文本颜色渐变 */
                background-image: linear-gradient(
                    to top,
                    #d08f5f 0%,
                    #f9773f 100%
                );
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;

                /* 设置文本颜色，这会让文本内容显示为渐变 */
                color: transparent;
            }
            .text {
                font-size: 30px;
            }

            .optionalIdentity {
                width: 100%;
                height: 100px;

                .identity {
                    width: 100px;
                    height: 100px;
                    float: left;
                    border-radius: 20px;
                    margin-right: 10px;
                    // text-align: center;
                    // line-height: 100px;
                    // color: #FFFFFF;
                    // font-size: 40px;
                    cursor: pointer;
                    user-select: none;
                    box-sizing: border-box;
                    padding: 10px;
                    background: #3883f7;
                    filter: grayscale(100%);
                    // transition: 1s;
                    img {
                        width: 100%;
                        pointer-events: none;
                        user-select: none;
                    }
                }
                .identity:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }
}
