.homeBox {
    width: 100%;
    height: 100%;
    background: #ccc;

    .right {
        width: calc(100% - 250px);
        height: calc(100% - 45px);
        background: linear-gradient(180deg, #f5f4f6, #e6ebf7);
        float: left;
    }
}